<!DOCTYPE html>
<html>
<head>
    <title>Quiz</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body class="bg">

<div class="card">

    <!-- Top Progress -->
    <div class="navbar">
        <div class="logo">QUIZ</div>
        <div>Question {{ current }} / {{ total }}</div>
    </div>

    <!-- Question -->
    <div class="content">
        <h2>{{ q.q }}</h2>

        <form method="POST">
            {% for option in q.options %}
                <label class="option">
                    <input type="radio" name="answer" value="{{ option }}" required>
                    <span>{{ option }}</span>
                </label>
            {% endfor %}

            <button type="submit" class="dark-btn">Next</button>
        </form>

        <p id="timer">Time left: 20</p>
    </div>

</div>

<script>
let time = 20;
let timer = setInterval(() => {
    document.getElementById("timer").innerText = "Time left: " + time;
    time--;

    if(time < 0){
        clearInterval(timer);
        document.forms[0].submit();
    }
}, 1000);
</script>

</body>
</html>